<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand">Real Estate Data</a>
            <button type="button" class="btn btn-outline-danger" onclick="location.href='https://github.com/Livingstone-Billy/go-real-estate-api';" >View on GitHub</button>
        </div>
    </nav>
    <div class="row" style="padding: 50px;">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Obtain Real Estate Data</h5>
                    <p class="card-text">
                        Obtain Real Estate data for use in your applications and models.
                        Data contains House Name, Description, Location, Price, Url, and Image.
                        Use the API to query and receive data straight to your backend in json format.
                        Contributions and improvements to the API are open and so feel free to provide
                        suggestions via GitHub issues and pull requests
                    </p>
                    <a href="#" class="btn btn-primary">GET STARTED</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="list-group">


                <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Name</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">Description</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-success">Location</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Price</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Url</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-info">Image</a>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>